%h1 Listing tasks

%table
  %tr
    %th Description
    %th Due date
    %th Owner
    %th Assignee
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.description
      %td= task.due_date
      %td= task.owner
      %td= task.assignee
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
